<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://img.tao77.top/QQ%20%E5%86%B0%E5%93%A5icon.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.aoyiyun.nq1</string>
<key>bundle-version</key>
<string>6.3.22</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>QQ</string>
<key>title</key>
<string>QQ</string>
</dict>
</dict>
</array>
</dict>
</plist>
