<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://app.gttxkjgs.com/iOS_2.0.2_9.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://mmbiz.qlogo.cn/mmbiz_png/ia8eNvbn7YibLFxoicVHyHoURAuUpcrS37BNCLk5tq45S3PKzqR0so9mQicl7EBmOktyQVLOcIVicy2uRb9lUDQuAag/0?wx_fmt=png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://mmbiz.qlogo.cn/mmbiz_png/ia8eNvbn7YibLFxoicVHyHoURAuUpcrS37BNCLk5tq45S3PKzqR0so9mQicl7EBmOktyQVLOcIVicy2uRb9lUDQuAag/0?wx_fmt=png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.yonyou.uap.mobile</string>
                <key>bundle-version</key>
                <string>2.0.2</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>GWJL</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
